/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: #FF69B4;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: .15em 1em;
	background-color: white;
	border-bottom: 1px solid #FF69B4;
}

header h3 {
	font-weight: normal;
	display: inline-block;
}

header nav {
	float: right;
	margin-right: 2.5em;
}
header nav li {
	display: inline-block;
	font-size: .9em;
}

header nav li a {
	padding: .25em .5em;
	display: block;
	color: white;
	text-decoration: none;
	background-color: #FF69B4;
	border-radius: 6px 6px;
	margin-left: .5em;
}

main {
	width: 600px;
	border: 1px solid #FF69B4;
	margin: 100px auto;
	padding: 2em;
	background-color: white;
	border-radius: 12px 12px;
}

input {
	padding: .5em;
}

form div {
	margin-top: .5em;
}

.post {
	padding: .25em 0;
	border-bottom: 1px solid #FF69B4;
}


.post h3 {
	font-weight: normal;
}
.post p {
	font-size: .85em;
	color: #999;
}

.post p a {
	text-decoration: none;
	color: #999;
}
#signup{
	width: 20em;
	margin: 0 auto;
	text-align: right;
}
#allposts{
	width: 90%;
	margin: 12em auto 0 auto;
	text-align: center;

}
.posttime{
	font-size: 1em;
}
.postcontent{
	font-size: 1.5em;
}
#allposts div{
	/*float: left;*/
	display: inline-block;
	width: 45%;
	/*max-width: 40%;*/
	background-color: white;
	margin: .25em;
	text-align: left;
	padding: .5em;
	vertical-align: top;
}
#allposts a{
	text-decoration: none;
	color: black;
}
#allposts a p{
	border-left: solid;
	padding-left: .5em;
}

*= require_directory posts
